{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "8.0.0"
            }
          }
        ]
      ]
    }
  }
}
